@use '../../styles/variables';

.button {
  background: variables.$secondary-color;
  color: variables.$white-color;
  cursor: pointer;

  &:hover {
    background: variables.$primary-color;
    transition: .5s ease-in-out;
  }
}