.navigation {
  // width: 100%;
  // fixed 설정은 논의중
  width: 88%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9f9f9;
  padding: 8px 12px;
}

.nav-menu {
  display: flex;

  .nav-item {
    margin: 0;
    padding: 8px 12px;
  }
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navigation {
    width: 100%;
  }

  .nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navigation,
  .nav-menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-menu {
    width: 100%;
    display: none;
    align-items: center;
  }

  .mobile-menu {
    display: block;
    line-height: 2.5;
  }

  .active-menu {
    display: flex;
  }
}
