@use '../variables';
@use '../mixins';

.searchbar-container .button-wrapper {
  width: 300px;
  margin: auto;
  text-align: center;

  button, a {
    margin: 0 1rem;
    font-size: 32px;
    color: variables.$white-color;
    font-weight: 600;
  }

  button:hover {
    color: variables.$primary-color;
    transform: translateY(-20px);
    transition: transform .2s ease-in-out;
  }
}

.search-form {
  width: 600px;
  display: flex;
  align-items: center;

  @include mixins.respond-to(mobile) {
    width: 400px;
  }

  .input-field {
    width: 100%;
  }

  .button {
    width: 100px;
    border-radius: 0;
  }
}
