.contact-form {
  width: 100%;
  padding: 30px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  .text-wrapper {
    width: 600px;
    display: flex;
    flex-direction: column;

    h2 {
      text-align: center;
      font-weight: 600;
    }

    textarea.no-resize {
      height: 200px;
      margin-bottom: 2rem;
      resize: none;
    }
  }

  .img-wrapper {
    width: 600px;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .img-wrapper {
    display: none;
  }
}
